@font-face {
    font-family: 'arrow';
    src: url(latinmodern-math.otf);  
}

@font-face {
    font-family: 'torenR';
    src: url(Toren_Rotalic.otf);  
}

@font-face {
    font-family: 'toren';
    src: url(Toren_Mono.otf);  
}

body {
    margin: 10px;
    background-color: rgb(238, 238, 238);
    color: rgb(18, 59, 240);
    height: 100vh;   
}


nav {
    font-size: 12px;
}

h1 {
    font-family: 'arrow';
}

#left {
   position: absolute;
   left: 10px;
   width: max-content;
   top: 0;
   padding-left: 10px;

}

#middle {
    margin-left: auto;
    margin-right: auto;
    width: max-content;

    top: 0;
 
 }

#right {
    position: absolute;
    right: 10px;
    top: 0;
    width: max-content;
    padding-right: 10px;
 }
 

iframe {
    position: fixed;
    top: 5%;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

a {
    text-decoration: none;
}

p {
    bottom: 15%;
    position: absolute;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;


    
}

p span:hover {
    font-family: 'toren';
}

p span {
     transform: rotate(-10deg);
     font-family: 'torenR';
     padding-right: 5%;   

}

ul li a {
  font-family: 'toren';
  font-size: 20px;
  border: solid 1px  rgb(18, 59, 240);
  color:  rgb(18, 59, 240);
  padding: 5px;
  margin: 5px;
  transform: rotate(-10deg);
  background-color: rgb(238, 238, 238);
}

ul li {
    display: inline-flex;
}

ul {
padding-left: 0;
display: inline-flex;
justify-content: center;
align-items: center;
top: 20%;
right: 0;
left: 0;
position: absolute;
}


ul li a:hover {
    background-color:  rgb(18, 59, 240);
    color: rgb(238, 238, 238);
  }
  nav h1 a,
  li a:visited {
    border:rgb(88, 63, 47);
    color: rgb(88, 63, 47);
  }

  li a:visited:hover {
    background-color:rgb(88, 63, 47) ;
  }
    
  @media screen and (max-width: 479px) {
      nav {
      font-size: 0.8em;      
    }
    #middle  {
        display: none;
    }

    p {
        font-size: 1.4em; 
        position: absolute;
        bottom: 20px;
        padding: 0;
        margin: 10px;

    }

    p span {

        padding: 0;
   }
   ul {
    padding-left: 0;
    display: block;
    justify-content: left;
    align-items: left;
    top: 5%;
    right: 0;
    left: 0;
    margin: 20px;
    position: absolute;
  }

    ul li a {
        font-family: 'toren';
        font-size: 1.1em;
        border: solid 1px  rgb(18, 59, 240);
        color:  rgb(18, 59, 240);
        padding: 5px;
        margin-bottom: 5%;
        transform: rotate(-10deg);
        background-color: rgb(238, 238, 238);
      }
  }
  

  @media screen and (min-width :  480px) and (max-width: 959px) {
    nav {
    font-size: 0.8em;      
  }
  #middle  {
      display: none;
  }

  p {
      font-size: 1.6em; 
      position: absolute;
      bottom: 5px;
      padding: 0;
      margin: 20px;

  }

  p span {

      padding: 0;
 }
 ul {
  padding-left: 0;
  display: grid;
  justify-content: left;
  align-items: left;
  top: 5%;
  right: 0;
  left: 0;
  margin: 20px;
  position: absolute;
  }

  ul li a {
      font-family: 'toren';
      font-size: 1.3em;
      border: solid 1px  rgb(18, 59, 240);
      color:  rgb(18, 59, 240);
      padding: 5px;
      margin-bottom: 2%;
      transform: rotate(-10deg);
      background-color: rgb(238, 238, 238);
    }
}


@media screen and (min-width:960px) and (max-width: 1280px) { 
nav {
    font-size: 0.7em;
}
p { 
    font-size: 1.5em;
    bottom: 0;
    position: absolute;
    padding-left: 5%;
}

ul li a {
    font-size: 1em;
}

ul {
    padding-left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    margin: 20px;
    right: 0;
    left: 0;
    position: absolute;
    }
}

@media screen and (min-width:1281px) { 

    body {
        overflow: hidden;
    }

    p {
        bottom: 5%;
        position: absolute;
        font-size: 1.8em;
        left: 0;
        right: 0;
    }
    
    p span:hover {
        font-family: 'toren';
    }
    
    p span {
         transform: rotate(-10deg);
         font-family: 'torenR';
         margin-right: auto;
         margin-left: auto;
    }
    
    ul li a {
      font-family: 'toren';
      font-size: 20px;
      border: solid 1px  rgb(18, 59, 240);
      color:  rgb(18, 59, 240);
      padding: 5px;
      margin: 5px;
      transform: rotate(-10deg);
      background-color: rgb(238, 238, 238);
    }
    
    ul li {
        display: inline-flex;
    }
    
    ul {
    padding-left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    right: 0;
    left: 0;
    margin: 20px;
    position: absolute;
    }
}